<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input
      id="text"
      type="text"
      name="text"
      placeholder="Add Task"
      [(ngModel)]="text" />
  </div>
  <div class="form-control">
    <label for="day">Day & Time</label>
    <input
      id="day"
      type="text"
      name="day"
      placeholder="Add Day & Time"
      [(ngModel)]="day" />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input
      id="reminder"
      type="checkbox"
      name="reminder"
      [(ngModel)]="reminder" />
  </div>
  <input class="btn btn-block" type="submit" value="Save Task" />
</form>
